node_modules
.DS_Store
*.o
*.Po
*.a
Makefile
config.log
*.lo
*.dylib
*.Plo
.dirstamp
*.pc
config.mk
xplanet/build
xplanet/src/freetype-2.6/objs/.libs
xplanet/src/libpng-1.6.18/.libs
xplanet/src/freetype-2.6/builds/unix/config.status
xplanet/src/freetype-2.6/builds/unix/freetype-config
xplanet/src/freetype-2.6/builds/unix/ftconfig.h
xplanet/src/freetype-2.6/builds/unix/libtool
xplanet/src/freetype-2.6/builds/unix/unix-cc.mk
xplanet/src/freetype-2.6/builds/unix/unix-def.mk
xplanet/src/freetype-2.6/objs/apinames
xplanet/src/freetype-2.6/objs/ftexport.sym
xplanet/src/freetype-2.6/objs/ftmodule.h
xplanet/src/freetype-2.6/objs/libfreetype.la
xplanet/src/jpeg-9a/cjpeg
xplanet/src/jpeg-9a/config.status
xplanet/src/jpeg-9a/djpeg
xplanet/src/jpeg-9a/jconfig.h
xplanet/src/jpeg-9a/jpegtran
xplanet/src/jpeg-9a/libjpeg.la
xplanet/src/jpeg-9a/libtool
xplanet/src/jpeg-9a/rdjpgcom
xplanet/src/jpeg-9a/stamp-h1
xplanet/src/jpeg-9a/wrjpgcom
xplanet/src/jpeg-9a/.libs/cjpeg
xplanet/src/jpeg-9a/.libs/djpeg
xplanet/src/jpeg-9a/.libs/jpegtran
xplanet/src/jpeg-9a/.libs/libjpeg.la
xplanet/src/jpeg-9a/.libs/libjpeg.lai
xplanet/src/libpng-1.6.18/config.h
xplanet/src/libpng-1.6.18/config.status
xplanet/src/libpng-1.6.18/libpng-config
xplanet/src/libpng-1.6.18/libpng.sym
xplanet/src/libpng-1.6.18/libpng16-config
xplanet/src/libpng-1.6.18/libpng16.la
xplanet/src/libpng-1.6.18/libtool
xplanet/src/libpng-1.6.18/png-fix-itxt
xplanet/src/libpng-1.6.18/pngfix
xplanet/src/libpng-1.6.18/pngimage
xplanet/src/libpng-1.6.18/pnglibconf.c
xplanet/src/libpng-1.6.18/pnglibconf.h
xplanet/src/libpng-1.6.18/pnglibconf.out
xplanet/src/libpng-1.6.18/pngprefix.h
xplanet/src/libpng-1.6.18/pngstest
xplanet/src/libpng-1.6.18/pngtest
xplanet/src/libpng-1.6.18/pngunknown
xplanet/src/libpng-1.6.18/pngvalid
xplanet/src/libpng-1.6.18/stamp-h1
xplanet/src/libpng-1.6.18/scripts/sym.out
xplanet/src/xplanet-1.3.0/config.h
xplanet/src/xplanet-1.3.0/config.status
xplanet/src/xplanet-1.3.0/stamp-h1
xplanet/src/xplanet-1.3.0/xpDefines.h
xplanet/src/xplanet-1.3.0/src/xplanet
xplanet/src/zlib-1.2.8/configure.log
xplanet/src/zlib-1.2.8/example
xplanet/src/zlib-1.2.8/examplesh
xplanet/src/zlib-1.2.8/minigzip
xplanet/src/zlib-1.2.8/minigzipsh
