.DS_Store
*.o
*.Po
*.a
Makefile
config.log
*.lo
*.dylib
*.Plo
.dirstamp
*.pc
config.mk
www/xplanet/build
www/xplanet/src/freetype-2.6/objs/.libs
www/xplanet/src/libpng-1.6.18/.libs
www/xplanet/src/freetype-2.6/builds/unix/config.status
www/xplanet/src/freetype-2.6/builds/unix/freetype-config
www/xplanet/src/freetype-2.6/builds/unix/ftconfig.h
www/xplanet/src/freetype-2.6/builds/unix/libtool
www/xplanet/src/freetype-2.6/builds/unix/unix-cc.mk
www/xplanet/src/freetype-2.6/builds/unix/unix-def.mk
www/xplanet/src/freetype-2.6/objs/apinames
www/xplanet/src/freetype-2.6/objs/ftexport.sym
www/xplanet/src/freetype-2.6/objs/ftmodule.h
www/xplanet/src/freetype-2.6/objs/libfreetype.la
www/xplanet/src/jpeg-9a/cjpeg
www/xplanet/src/jpeg-9a/config.status
www/xplanet/src/jpeg-9a/djpeg
www/xplanet/src/jpeg-9a/jconfig.h
www/xplanet/src/jpeg-9a/jpegtran
www/xplanet/src/jpeg-9a/libjpeg.la
www/xplanet/src/jpeg-9a/libtool
www/xplanet/src/jpeg-9a/rdjpgcom
www/xplanet/src/jpeg-9a/stamp-h1
www/xplanet/src/jpeg-9a/wrjpgcom
www/xplanet/src/jpeg-9a/.libs/cjpeg
www/xplanet/src/jpeg-9a/.libs/djpeg
www/xplanet/src/jpeg-9a/.libs/jpegtran
www/xplanet/src/jpeg-9a/.libs/libjpeg.la
www/xplanet/src/jpeg-9a/.libs/libjpeg.lai
www/xplanet/src/libpng-1.6.18/config.h
www/xplanet/src/libpng-1.6.18/config.status
www/xplanet/src/libpng-1.6.18/libpng-config
www/xplanet/src/libpng-1.6.18/libpng.sym
www/xplanet/src/libpng-1.6.18/libpng16-config
www/xplanet/src/libpng-1.6.18/libpng16.la
www/xplanet/src/libpng-1.6.18/libtool
www/xplanet/src/libpng-1.6.18/png-fix-itxt
www/xplanet/src/libpng-1.6.18/pngfix
www/xplanet/src/libpng-1.6.18/pngimage
www/xplanet/src/libpng-1.6.18/pnglibconf.c
www/xplanet/src/libpng-1.6.18/pnglibconf.h
www/xplanet/src/libpng-1.6.18/pnglibconf.out
www/xplanet/src/libpng-1.6.18/pngprefix.h
www/xplanet/src/libpng-1.6.18/pngstest
www/xplanet/src/libpng-1.6.18/pngtest
www/xplanet/src/libpng-1.6.18/pngunknown
www/xplanet/src/libpng-1.6.18/pngvalid
www/xplanet/src/libpng-1.6.18/stamp-h1
www/xplanet/src/libpng-1.6.18/scripts/sym.out
www/xplanet/src/xplanet-1.3.0/config.h
www/xplanet/src/xplanet-1.3.0/config.status
www/xplanet/src/xplanet-1.3.0/stamp-h1
www/xplanet/src/xplanet-1.3.0/xpDefines.h
www/xplanet/src/xplanet-1.3.0/src/xplanet
www/xplanet/src/zlib-1.2.8/configure.log
www/xplanet/src/zlib-1.2.8/example
www/xplanet/src/zlib-1.2.8/examplesh
www/xplanet/src/zlib-1.2.8/minigzip
www/xplanet/src/zlib-1.2.8/minigzipsh
